Source: libapache-mod-mono
Section: web
Priority: optional
Maintainer: Pablo Fischer <pablo@pablo.com.mx>
Build-Depends: debhelper (>= 4.0.0), apache-dev, libmono-dev
Standards-Version: 3.6.0

Package: libapache-mod-mono
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, apache (>= 1.3.27-0.1), mono-jit, mono-server
Description: Run ASP.NET Pages on UNIX with Apache and Mono
 Run ASP.NET pages on Unix with Apache and Mono!
