Source: mod-mono
Section: web
Priority: optional
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Uploaders: Eduard Bloch <blade@debian.org>, Pablo Fischer <pablo@pablo.com.mx>
Build-Depends: debhelper (>= 4.1.16), apache-dev, apache2-dev, libmono-dev
Standards-Version: 3.6.0

Package: libapache-mod-mono
Architecture: i386
Section: web
Depends: ${shlibs:Depends}, debconf (>= 1.2.0), apache (>= 1.3.31), mono-jit (>= 1.0.1), mono-apache-server (>= 1.0.1), wwwconfig-common
Description: Run ASP.NET Pages on UNIX with Apache and Mono
 mod_mono is a module for Apache that enables you to write ASP.NET web
 applications, using the Mono .NET implementation.
 .
 This is the Apache 1.3 version.

Package: libapache2-mod-mono
Architecture: i386
Section: web
Depends: ${shlibs:Depends}, apache2 (>= 2.0.50), mono-jit (>= 1.0.1), mono-apache-server (>= 1.0.1)
Description: Run ASP.NET Pages on UNIX with Apache 2 and Mono
 mod_mono is a module for Apache that enables you to write ASP.NET web
 applications, using the Mono .NET implementation.
 .
 This is the Apache 2.0 version.
