#!/bin/bash -e

. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup
db_title Mod Mono

apachecfg="/etc/apache"

STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
        1)
            db_input medium libapache-mod-mono/activate || true
            if db_go; then
                db_get libapache-mod-mono/activate || true
                STATE=2
            else
                STATE=0
            fi
            ;;
    esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi
