#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_COMPAT=3

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

COMMON_CONFIG=	--build=$(DEB_BUILD_GNU_TYPE) \
		--host=$(DEB_HOST_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info

configure: configure-apache-stamp configure-apache2-stamp
configure-apache-stamp:
	dh_testdir
	if [ -d apache-build ]; then rm -rf apache-build; fi
	-mkdir apache-build
	cd apache-build && \
		../configure $(COMMON_CONFIG) --with-apxs=/usr/bin/apxs
	touch $@
configure-apache2-stamp:
	dh_testdir
	if [ -d apache2-build ]; then rm -rf apache2-build; fi
	-mkdir apache2-build
	cd apache2-build && \
		../configure $(COMMON_CONFIG) --with-apxs=/usr/bin/apxs2
	touch $@

build: configure build-apache-stamp build-apache2-stamp
build-apache-stamp: configure-apache-stamp
	dh_testdir
	cd apache-build && $(MAKE)
	touch $@
build-apache2-stamp: configure-apache2-stamp
	dh_testdir
	cd apache2-build && $(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f *-stamp *-stamp-*
	rm -rf apache-build apache2-build
	debconf-updatepo
	dh_clean 

install: build install-prereq install-apache install-apache2
install-prereq: build
	dh_testdir
	dh_testroot
	dh_clean -k
install-apache:
	dh_installdirs -plibapache-mod-mono

	# Install into debian/libapache-mod-mono.
	# We need APXS = /bin/true, otherwise mod_mono will install everything
	# in /usr instead of debian/libapache-mod-mono.
	cd apache-build && $(MAKE) install \
		DESTDIR=../debian/libapache-mod-mono \
		APXS=/bin/true
#	install -m644 debian/libapache-mod-mono.conf \
#		debian/libapache-mod-mono/etc/apache/conf.d/mod_mono.conf
	install -m755 apache-build/src/.libs/libmod_mono.so \
		debian/libapache-mod-mono/`apxs -q LIBEXECDIR`
	install -m644 debian/libapache-mod-mono.info \
		debian/libapache-mod-mono/`apxs -q LIBEXECDIR`/500mod_mono.info
install-apache2:
	dh_installdirs -plibapache2-mod-mono

	# Install into debian/libapache2-mod-mono.
	# We need APXS = /bin/true, otherwise mod_mono will install everything
	# in /usr instead of debian/libapache2-mod-mono.
	cd apache2-build && $(MAKE) install \
		DESTDIR=../debian/libapache2-mod-mono \
		APXS=/bin/true
	install -m755 apache2-build/src/.libs/libmod_mono.so \
		debian/libapache2-mod-mono/`apxs2 -q LIBEXECDIR`
	install -m644 debian/libapache2-mod-mono.load \
		debian/libapache2-mod-mono/etc/apache2/mods-available/mod_mono.load
	install -m644 debian/libapache2-mod-mono.conf \
		debian/libapache2-mod-mono/etc/apache2/mods-available/mod_mono.conf

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installdebconf	
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
